<app-header></app-header>
<app-side-bar></app-side-bar>
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Profile</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="[ '/home' ]">Home</a></li>
        <li class="breadcrumb-item active">Perfil</li>
      </ol>
    </nav>
  </div>

  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

            <img *ngIf="userData" [src]="getInitial(userData.name)" alt="Profile" class="rounded-circle" style="max-width: 120px; width: 100%;">
            <br>
            <h4>{{userData.name}} {{userData.lastNames}}</h4>
          </div>
        </div>

      </div>

      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab"
                  data-bs-target="#profile-overview">Descripcion</button>
              </li>
            </ul>
            <div class="tab-content pt-2">

              <div class="tab-pane fade show active profile-overview" id="profile-overview">
                <p class="card-title">Bienvenido {{userData.name}} {{userData.lastNames}} en esta seccion encontraras
                  el detalle acerca de tu perfil, recuerda que esta informacion es confidencial y solo a ti te pertenece.
                </p>

                <h5 class="card-title">Detalle del perfil</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Nombre Completo</div>
                  <div class="col-lg-9 col-md-8">{{userData.name}} {{userData.lastNames}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Correo</div>
                  <div class="col-lg-9 col-md-8">{{userData.email}}</div>
                </div>
              </div>

              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

              </div>
           </div>

          </div>
        </div>

      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>