<app-header></app-header>
<app-side-bar></app-side-bar>
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Formulario Planilla</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="[ '/home' ]">Home</a></li>
                <li class="breadcrumb-item">Recursos Humanos</li>
                <li class="breadcrumb-item active">Contratos</li>
            </ol>
        </nav>
    </div>

    <section class="section" id="formPlanilla">
        <div class="row fromPlanillarow">
            <div class="col-lg-8 formPlanilla">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Formulario de Contratos</h5>

                        <form #formulario="ngForm" (ngSubmit)="onSubmit()">
                            <div class="row mb-3">
                                <label class="col-sm-3 col-form-label">Tipo de Contrato</label>
                                <div class="col-sm-9">
                                    <select class="form-select" aria-label="Default select example"
                                        [(ngModel)]="selectContrato" [ngModelOptions]="{ standalone: true } "
                                        (change)="onContractSelected($event)">
                                        <option selected>Selecciona una opcion</option>
                                        <option value="0">Planilla</option>
                                        <option value="1">Recibo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Nombre</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="name" [(ngModel)]="name">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputEmail" class="col-sm-2 col-form-label">Apellido</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="lastName" [(ngModel)]="lastName">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-4 col-form-label">Tipo de documento</label>
                                <div class="col-sm-8">
                                    <select class="form-select" aria-label="Default select example"
                                        [(ngModel)]="selectDocument" [ngModelOptions]="{ standalone: true }"
                                        (change)="onDocumentTypeSelected($event)">
                                        <option selected>Selecciona una opcion</option>
                                        <option value="0">DNI</option>
                                        <option value="1">Carnet de Extranjeria</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputDocument" class="col-sm-3 col-form-label">Nro Documento</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="nroDocument"
                                        [(ngModel)]="nroDocument">
                                    <span class="error-message text-danger">{{ errorMessage }}</span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-2 col-form-label">Direccion</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="direccion" [(ngModel)]="direccion">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-2 col-form-label">Salario</label>
                                <div class="col-sm-10">
                                    <input type="number" id="NumberInput" class="form-control" name="salary"
                                        [(ngModel)]="salary">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputDate" class="col-sm-2 col-form-label">Periodo</label>

                                <div class="col-sm-5">
                                    <input type="date" class="form-control" name="dateInicio" [(ngModel)]="dateInicio">
                                </div>

                                <div class="col-sm-5">
                                    <input type="date" class="form-control" name="dateFinal" [(ngModel)]="dateFinal">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Cargo</label>
                                <div class="col-sm-10">
                                    <select class="form-select" aria-label="Default select example"
                                        [(ngModel)]="selectCargo" [ngModelOptions]="{ standalone: true }"
                                        (change)="onJobPositionSelected($event)">
                                        <option selected>Selecciona una opcion</option>
                                        <option value="1">Desarrollador Junior</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-sm-12 btnGenerarPlanilla">
                                    <button type="submit" *ngIf="!(isloading$ | async) || (appState$ | async)"
                                        class="btn btn-success"><i class="bi bi-cloud-download"
                                            style="margin-right: 4px;"></i>Generar</button>
                                    <div *ngIf="(isloading$ | async)" class="spinner-border text-info"></div>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>

            </div>
        </div>
    </section>

</main>


<app-footer></app-footer>