<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " [routerLink]="[ '/home' ]">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse">
                <i class="bi bi-menu-button-wide"></i><span>Contabilidad</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a [routerLink]="[ '/tributos' ]">
                        <i class="bi bi-credit-card"></i><span>Cargar Tributo</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="[ '/viewFile' ]">
                        <i class="bi bi-credit-card"></i><span>Visualizar Tributo</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="[ '/compras' ]">
                        <i class="bi bi-credit-card"></i><span>Cargar Compra</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="[ '/viewCompra' ]">
                        <i class="bi bi-credit-card"></i><span>Visualizar Compra</span>
                    </a>
                </li>
            </ul>
        </li>


        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-receipt-cutoff"></i><span>Recursos Humanos</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a [routerLink]="['/formContrato']">
                        <i class="bi bi-circle"></i><span>Contrato</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/viewContrato']">
                        <i class="bi bi-circle"></i><span>Visualizar Contratos</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Forms Nav -->
    </ul>

</aside><!-- End Sidebar-->