<main class="main" id="main">
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="[ '/home' ]">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div>
</main>

<div class="container">
    <button class="btn btn-primary" (click)="requestPermission()">Solicitar permiso</button>
</div>
<br>
<br>
<br>
<br>
<br>