<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between logoHeader">
        <a [routerLink]="[ '/home' ]" class="logo d-flex align-items-center">
            <img src="assets/img/logoInca.png" alt="">
            <span class="d-none d-lg-block">IncaApp</span>
        </a>

    </div>

    <div class="search-bar">
        <form class="search-form d-flex align-items-center">
            <input type="text" placeholder="Buscar">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div>

    <nav class="header-nav navIcon">
        <ul class="d-flex align-items-center">

            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle ">
                    <i class="bi bi-search"></i>
                </a>
            </li>

            <li class="nav-item dropdown pe-5">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" data-bs-toggle="dropdown">
                    <img *ngIf="userData" [src]="getInitial(userData.name)" class="rounded-circle"
                        style="max-width: 30px; width: 100%;">
                    <span class="d-none d-md-block dropdown-toggle ps-2">{{userData.name}} {{userData.lastNames}}</span>
                </a>

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>Bienvenido</h6>
                        <span>{{userData.name}} {{userData.lastNames}}</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a [routerLink]="[ '/profile' ]" class="dropdown-item d-flex align-items-center">
                            <i class="bi bi-person"></i>
                            <span>Mi perfil</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a href="#" class="dropdown-item d-flex align-items-center" (click)="logout()">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Cerrar Sesion</span>
                        </a>
                    </li>

                </ul>
            </li>

            <li>
                <i class="bi bi-list toggle-sidebar-btn"></i>
            </li>

        </ul>
    </nav>
</header>