<main>
    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a href="index.html" class="logo d-flex align-items-center w-auto">
                                <img src="assets/img/logoInca.png" alt="">
                                <span class="d-none d-lg-block">Inca Website</span>
                            </a>
                        </div><!-- End Logo -->

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Crear Cuenta</h5>
                                    <p class="text-center small">Bienvenido al formuario de registro</p>
                                </div>

                                <form class="row g-3" #formulario="ngForm" (ngSubmit)="onSubmit()">
                                    <div class="col-12">
                                        <label for="yourName" class="form-label">Ingrese su nombre</label>
                                        <input type="text" name="name" class="form-control" [(ngModel)]="name"
                                            id="yourName" required>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourEmail" class="form-label">Ingrese su correo</label>
                                        <input type="email" name="email" class="form-control" [(ngModel)]="email"
                                            id="yourEmail" required>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourUsername" class="form-label">Ingrese su usuario</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                                            <input type="text" name="username" class="form-control" [(ngModel)]="user"
                                                id="yourUsername" required>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourPassword" class="form-label">Ingrese su contraseña</label>
                                        <input type="password" name="password" class="form-control"
                                            [(ngModel)]="password" id="yourPassword" required>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" name="terms" type="checkbox" value=""
                                                id="acceptTerms" [(ngModel)]="checkTermin" required>
                                            <label class="form-check-label" for="acceptTerms">Acepta los <a
                                                    href="#">terminos y condiciones</a></label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Crear mi cuenta</button>
                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0">Ya tienes una cuenta? <a
                                                [routerLink]="[ '/login' ]">Iniciar Sesion</a></p>
                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </section>

    </div>
</main><!-- End #main -->