<app-header></app-header>
<app-side-bar></app-side-bar>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Visualizar Contratos</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="[ '/home' ]">Home</a></li>
                <li class="breadcrumb-item">Recursos Humanos</li>
                <li class="breadcrumb-item active">Visualizar Contratos</li>
            </ol>
        </nav>
    </div>

    <section class="section">
        <div class="row" style="justify-content: center;">
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Visualizar Contratos</h5>

                        <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                            <div class="datatable-top">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="advanced-search-input"
                                        placeholder="Buscar" />
                                    <button class="btn btn-primary" id="advanced-search-button" type="button">
                                        <i class="bi bi-search"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="datatable-container table-responsive">
                                <table class="table" style="text-align: center;">
                                    <thead>
                                        <tr style="text-align: center;">
                                            <th scope="col">#</th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Apellido</th>
                                            <th scope="col">Nro Documento</th>
                                            <th scope="col">Perido</th>
                                            <th scope="col">Salario</th>
                                            <th scope="col">Accion</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Jorge</td>
                                            <td>Mendoza Jara</td>
                                            <td>72213631</td>
                                            <td>01/03/2021 - 31/03/2021</td>
                                            <td>1025</td>
                                            <td><a><i class="bi bi-eye-fill" style="font-size: 20px;"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <div class="datatable-dropdown">
                                <label>
                                    <select class="datatable-selector">
                                        <option value="10">10</option>
                                        <option value="20" selected="">20</option>
                                        <option value="30">30</option>
                                        <option value="40">40</option>
                                    </select> entries per page
                                    <div class="datatable-info">Mostrar 1 a 10 de 10 entradas</div>
                                    <nav class="datatable-pagination">
                                        <ul class="datatable-pagination-list"></ul>
                                    </nav>
                                </label>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

</main>

<br>
<br>
<br>
<br>

<app-footer></app-footer>