<app-header></app-header>
<app-side-bar></app-side-bar>
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Visualizar Tributo</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="[ '/home' ]">Home</a></li>
                <li class="breadcrumb-item"><a>Contabilidad</a></li>
                <li class="breadcrumb-item active">Visualizar Tributo</li>
            </ol>
        </nav>
    </div>

    <section class="section" id="formTributos">
        <div class="row fromTributosrow">
            <div class="col-lg-10 formTributos">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Visualizar de Tributo</h5>

                        <form>
                            <div class="row mb-3">
                                <label for="inputDate" class="col-sm-2 col-form-label">Periodo</label>
                                <div class="col-sm-10">
                                    <input type="month" [(ngModel)]="selectedDate" (input)="validarCampos()"
                                        name="date" class="form-control">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Concepto</label>
                                <div class="col-sm-10">
                                    <select class="form-select" [(ngModel)]="selectConcept"
                                        (ngModelChange)="validarCampos()" aria-label="Default select example"
                                        [ngModelOptions]="{ standalone: true }">
                                        <option selected>Seleccionar una opcion</option>
                                        <option value="1">1011 IGV - OPER. INT. - CTA. PROPIA</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-sm-12 btnSaveTributo">
                                    <button type="submit" [disabled]="!enviarHabilitado" (click)="viewPdf()"
                                        class="btn btn-primary"><i class="bi bi-save"
                                            style="margin-right: 4px;"></i>Visualizar</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>

    </section>
</main>

<br>
<br>
<br>
<br>
<br>
<br>

<app-footer></app-footer>