<app-header></app-header>
<app-side-bar></app-side-bar>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Compras</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="[ '/home' ]">Home</a></li>
                <li class="breadcrumb-item"><a>Contabilidad</a></li>
                <li class="breadcrumb-item active">Compras</li>
            </ol>
        </nav>
    </div>

    <section class="section" id="formTributos">
        <div class="row fromTributosrow">
            <div class="col-lg-10 formTributos">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Formulario de Compras</h5>

                        <form (ngSubmit)="saveData(formTemplate)" #formTemplate="ngForm">
                            <div class="row mb-3">
                                <label for="inputDate" class="col-sm-2 col-form-label">Periodo</label>
                                <div class="col-sm-10">
                                    <input type="month" [(ngModel)]="selectedDate" name="date" class="form-control"
                                        min="{{currentYear - 10}}-01" max="{{currentYear}}-12">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-2 col-form-label">Subir Archivo</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="file" accept=".pdf,.jpg,.jpeg"
                                        (change)="onFileSelected($event)">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-sm-12 btnSaveTributo">
                                    <button type="submit" (click)="onSave()" class="btn btn-primary"><i
                                            class="bi bi-save" style="margin-right: 4px;"></i>Guardar</button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>

            </div>
        </div>
    </section>
</main>

<br>
<br>
<br>
<br>
<br>
<br>
<app-footer></app-footer>