<app-header></app-header>
<app-side-bar></app-side-bar>
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Tributos</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="[ '/home' ]">Home</a></li>
                <li class="breadcrumb-item"><a>Contabilidad</a></li>
                <li class="breadcrumb-item active">Tributos</li>
            </ol>
        </nav>
    </div>

    <section class="section" id="formTributos">
        <div class="row fromTributosrow">
            <div class="col-lg-10 formTributos">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Formulario de Tributos</h5>

                        <form #formTemplate="ngForm">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Tipo de tributo</label>
                                <div class="col-sm-10">
                                    <select class="form-select" aria-label="Default select example"
                                        [ngModelOptions]="{ standalone: true }" (change)="onTypeTributeSelected($event)"
                                        [(ngModel)]="selectTypeTribute">
                                        <option selected>Seleccionar una opcion</option>
                                        <option value="0">Mensual</option>
                                        <option value="1">Anual</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputDate" class="col-sm-2 col-form-label">Periodo</label>
                                <div class="col-sm-10">
                                    <input type="month" [(ngModel)]="selectedDate" name="date" class="form-control"
                                        min="{{currentYear - 10}}-01" max="{{currentYear}}-12">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Concepto</label>
                                <div class="col-sm-10">
                                    <select class="form-select" aria-label="Default select example" [disabled]="isConceptDisabled"
                                        [ngModelOptions]="{ standalone: true }" (change)="onConceptSelected($event)"
                                        [(ngModel)]="selectConcept">
                                        <option selected>Seleccionar una opcion</option>
                                        <option value="1">1011 IGV - OPER. INT. - CTA. PROPIA</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3" *ngIf="isMultipleFilesAllowed">
                                <label for="inputNumber" class="col-sm-2 col-form-label">Subir Archivos</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="file" multiple accept=".pdf"
                                        (change)="onFileSelected($event)">
                                    <span class="error-message text-danger">{{ errroMessage }}</span>
                                </div>
                            </div>

                            <div class="row mb-3" *ngIf="!isMultipleFilesAllowed">
                                <label for="inputNumber" class="col-sm-2 col-form-label">Subir Archivo</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="file" accept=".pdf"
                                        (change)="onFileSelected($event)">
                                    <span class="error-message text-danger">{{ errroMessage }}</span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-sm-12 btnSaveTributo">

                                    <button type="submit" *ngIf="!(isloading$ | async) || (appState$ | async)"
                                        (click)="onSave()" class="btn btn-primary"><i class="bi bi-save"
                                            style="margin-right: 4px;"></i>Guardar</button>
                                    <div *ngIf="(isloading$ | async)" class="spinner-border text-info"></div>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>

            </div>
        </div>
    </section>
</main>

<br>
<br>
<br>

<app-footer></app-footer>