<main>
    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a [routerLink]="[ '/login' ]" class="logo d-flex align-items-center w-auto">
                                <img src="assets/img/logoInca.png" alt="">
                                <span class="d-none d-lg-block">Inca Website</span>
                            </a>
                        </div><!-- End Logo -->

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Inicio de Sesion</h5>
                                    <p class="text-center small">Bienvenido a la website de IncaApp</p>
                                </div>

                                <form class="row g-3" #formulario="ngForm" (ngSubmit)="onSubmit()">

                                    <div class="col-12">
                                        <label for="yourUsername" class="form-label">Correo</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                                            <input type="email" name="email" class="form-control" id="yourUsername"
                                                [(ngModel)]="email" placeholder="Ingrese su correo" required>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourPassword" class="form-label">Contraseña</label>
                                        <div class="input-group">
                                            <input type="password" name="password" class="form-control"
                                                id="yourPassword" [(ngModel)]="password"
                                                placeholder="Ingrese su contraseña" required>
                                            <button class="btn btn-outline-secondary viewPassword" type="button"
                                                (click)="showPassword()">
                                                <span [ngClass]="{'bi-eye': !showPass, 'bi-eye-slash': showPass}"
                                                    class="fa"></span>
                                            </button>
                                        </div>
                                    </div>


                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="remember" value="true"
                                                id="rememberMe">
                                            <label class="form-check-label" for="rememberMe">Recordar mi cuenta</label>
                                        </div>
                                    </div>
                                    <div class="col-12"
                                        style="justify-content: center; display: flex; padding-bottom: 30px;">
                                        <button type="submit" *ngIf="!(isloading$ | async) || (appState$ | async)"
                                            (click)="onSubmit()" class="btn btn-primary w-100"><i class="bi bi-save"
                                                style="margin-right: 4px;"></i>Guardar</button>
                                        <div *ngIf="(isloading$ | async)" class="spinner-border text-info"></div>
                                    </div>

                                    <!--<div class="text-center">
                                        <p>O registrate con:</p>
                                        <button type="button" class="btn btn-link btn-floating mx-1"
                                            (click)="signInWithGoogle()">
                                            <img class="imgGoogle" src="assets/img/google.png" alt="">
                                        </button>

                                    </div>-->

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </div>
</main><!-- End #main -->